@import 'styles';

mat-toolbar {
  background-color: $gray-medium;
  div.logo {
    img {
      max-width: 180px;
      margin-right: 20px;
    }
  }
  button {
    margin: 0.4rem;
    min-width: 80px;
  }
  span.flex {
    flex: 1 1 auto;
  }
}