@import './variable.scss';
@import './mixin.scss';

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif; 
  background-color: $gray-light; 
  font-size: 12px; 
  color: $font-gen;
}

div.container {
  background-color: $white;
  margin: 20px 20px;
  width: calc(100% - 40px);
  min-height: calc(100vh - 105px);
  height: auto;
  overflow: auto;
  div.inner-container {
    margin-top: 20px;
    &.lg { width: 80%; margin: auto; padding: 20px; }
    &.md { width: 60%; margin: auto; padding: 20px; }
    &.sm { width: 40%; margin: auto; padding: 20px; }
  }
}

// span.ellipsis {
//   white-space: nowrap;
//   overflow: hidden;
//   text-overflow: ellipsis;
//   max-width: 100px;
// }

span.flex { flex: 1 1 auto; } // fill the space


@media screen and (min-width: 900px) {
  div.container {
    div.inner-container {
      &.lg, *.md, &.sm {
        // width: 100%;
      }
    }
  }
}

