/* Variables to use in global purpose */
$gray-light:  #f5f5f5;
$gray-medium: #e2e2e2;
$gray-heavy:  #cccccc;
$white:       #ffffff;
$black:       #000000;
$font-gen:    #515151;


$screen-max: 1920px;
$screen-16: 1600px;
$screen-12: 1280px;
$screen-10: 1024px;
$screen-min: 400px;