<div class="container">
  <div class="inner-container lg">

    <h1>Frequently Asked Questions</h1>
    <div class="text-right">
      <mat-form-field class="select-category">
        <mat-label>Select a category</mat-label>
        <mat-select [(value)]="category">
          <mat-option>None</mat-option>
          <mat-option value="Account">Account</mat-option>
          <mat-option value="Shop">Shop</mat-option>
          <mat-option value="Contact">Contact</mat-option>
          <mat-option value="Web">Web</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <mat-accordion>
      <ng-container *ngFor="let item of faqList">
        <mat-expansion-panel *ngIf="categoryFilter(item.category)" class="faqList"  (opened)="panelOpenState = true" (closed)="panelOpenState = false">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon>Q</mat-icon><span>{{item.question}}</span>
            </mat-panel-title>
            <mat-panel-description>
              <span class="panel-category">{{item.category}}</span>
            </mat-panel-description>
          </mat-expansion-panel-header>
          <p><mat-icon>A</mat-icon>{{item.answer}}</p>
        </mat-expansion-panel>
      </ng-container>
    </mat-accordion>

  </div> <!-- /.inner-container -->
</div> <!-- /.container -->